.progressBar {
  width: 100%;
  height: 2.5rem;
  background-color: rgb(229, 231, 235);
  border-radius: 9999px;
}

.progressBarFill {
  height: 100%;
  border-radius: 9999px;
}

.liverProgressBar {
  width: 100%;
  height: 2.5rem;
  background-color: rgb(229, 231, 235);
  border-radius: 9999px;
}

.liverFill {
  height: 100%;
  border-radius: 9999px;
  background-color: rgb(22, 163, 74);
}

.colonProgressBar {
  width: 100%;
  height: 2.5rem;
  background-color: rgb(229, 231, 235);
  border-radius: 9999px;
}

.colonFill {
  height: 100%;
  border-radius: 9999px;
  background-color: rgb(37, 99, 235);
}

.overallProgressBar {
  width: 100%;
  height: 2.5rem;
  background-color: rgb(229, 231, 235);
  border-radius: 9999px;
}

.overallFill {
  height: 100%;
  border-radius: 9999px;
  background-color: rgb(147, 51, 234);
}

/* Dynamic width classes */
.width92 {
  width: 92%;
}

.width88 {
  width: 88%;
}

.width90 {
  width: 90%;
}
